# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#resume
resume.tex
ARIZA_XATI_VA_EMAIL.md
LOYIHALAR_NAMUNASI.md
resume_1page.tex
resume_fullstack_original.tex
resume_swe_1page.tex
resume_final_1page.tex
resume*.pdf